
/*fonts*/

@font-face{
font-family: "malayalam";
src: url("Malayalam.ttc") ; 
}

@font-face{
font-family: "Kumbhsans";
src: url("KumbhSans-Regular.ttf");
}
@font-face{
font-family: "Kumbhsans2";
src: url("KumbhSans-ExtraLight.ttf");
}

@font-face{
font-family: "Kumbhsans3";
src: url("KumbhSans-Bold.ttf");
}


*{
box-sizing: 1920px;
margin: 0px;
padding: 0px;
}

body{
background-color:#FAF9F7;
}

.linea hr{
width: 80%;
margin: 3% 10%;   
}

/* HEADER */
         
.header{
width: 95%; 
background-color: #FAF9F7;
display: flex;
justify-content: space-between;
align-items: center;
padding: 28px;
font-family:"Kumbhsans"; 
}
.header .logo{
cursor: pointer;
}
.header .logo img{
height: 55px;
width: auto;
transition: all 0.3s;
padding: 8px;
}
.header .logo img:hover{
transform: scale(1.2);
}

.header .nav-links li{
display: inline-block;
padding: 0 20px;
font-size: 15px;
}

.header .nav-links li:hover{
transform: scale(1.1);
}

.header .nav-links a{
font-size: 700;
color: #5D5B59;
text-decoration: none;
}

.header  button{
display: flex;
justify-content:space-between;
padding: 1px 7px;
background: #34322E;
border-radius: 10px;
cursor: pointer;
color: #ffffff;
}
.header .btn p{
font-size: medium;
font-weight: 400;
padding-top: 7px;
}



/*title*/

section .titulo{
width: 95%;
display: contents;
}
.title{
width: 95%;
padding: 0 30%;
padding-top: 50px;
font-size: xx-large;
color:#1F3477;
font-family: "kumbhsans";
}
.title .pp{
font-size: 0px;
}
.subtitle {
padding-top: 20px ;
width: 100%;
text-align: center;
font-size: 50px;
font-family:"kumbhsans";
color: #2E2C29;
}
.picture img{
padding-top: 30px;
width: 102%;
}

/* section proposal*/

.parrafo{
padding-top: 120px;
padding-left: 80px;
width: 80%;
}
.parrafo h5{
font-family: "kumbhsans3";
font-size: smaller;  
color:#5D5B59;
}
.parrafo .p2{
padding-top: 30px;
font-size: xx-large;
font-family: "kumbhsans";
color:#2E2C29 ;
}
.parrafo h6{
padding-top: 30px;
font-family: "kumbhsans2";
font-size: larger;
color: #7A7875;
}

/* carousel*/

.slider-box{ 
width: 100%;
height: auto;
overflow: hidden;
}

.slider-box .in ul{
display: flex;
width: 100%;
list-style: none;
animation: slide 70s infinite alternate ease-in-out ;
}

@keyframes slide{
50% {margin-left: -100%;}
45% {margin-left: -100%;}
50% {margin-left: -100%;}
70% {margin-left: -100%;}

}

.slider-box2 {
width: 100%;
overflow: hidden; 
padding-top: 1%;   
}
.out ul{
display: flex;
width: 100%;
list-style:none;
animation: slide2 70s  infinite alternate  ease-in-out;
}

@keyframes slide2{
50% {margin-left: 100%;}
45% {margin-left: 100%;}
50% {margin-left: 100%;}
70% {margin-left: 100%;}
}

/*section nuestros trabajos*/

.nuestros-trabajos{
padding-top: 40px;
margin: 80px ;
width: 95%;
height: auto;
}
.nuestros-trabajos p{
font-family: "kumbhsans";
font-size: 40px;
}

.nuestros-trabajos .titletrabajos{
font-family: "kumbhsans2"; 
color:#2E2C29;
font-size: xx-large;
}

.nuestros-trabajos .cards{
padding-left: 40px;
padding-top: 80px;
display: flex;
width: 80%;
justify-content: space-around;
}

.nuestros-trabajos .cards h5{
padding-top: 30px;
font-family: "kumbhsans";
font-size: large;
color: #2E2C29;
}

.nuestros-trabajos .cards ul{
font-family: "Kumbhsans";
color: #2E2C29;
font-size:small;
padding-left: 200px;
}
::marker{
color: #db93c3;
}


/* section service*/

.service{
width: 95%;
height: auto;
padding: 0px, 120px, 0px, 120px ;
padding-top: 40px;
margin: 80px ;
font-family: "kumbhsans2"; 
}
.service .titleservice .strong{
font-family: "kumbhsans";
}
.service .titleservice{
font-family: "kumbhsans2"; 
color:#2E2C29;
font-size: xx-large;
}

.service .cards{
padding-top: 80px;        
display: flex;
justify-content: space-around;
}

.service .card h5{
padding-top:30px;
font-size: x-small;
font-family:"Kumbhsans";
color: #7A7875;
}
.service .card h3{
padding-top:20px;
font-size: medium;
font-family:"Kumbhsans";
color: #2E2C29;
}

.service .card p{
padding-top: 3%;
font-family:"kumbhsans";
font-size: small;
color: #7A7875;
}

.picture{
width: 100%;
padding-top: 5%;
}
/*Serv*/

section .serv {
width: 95%;
height: auto;
padding-top: 50px;
margin: 80px ;
}
.serv .titleserv{
padding-top: 30px;
padding-left: 50px;
}
.serv .titleserv h1{
font-family: "kumbhsans2"; 
color:#2E2C29;
font-size: 3rem;
}
.serv .titleserv .strong{
font-family: "kumbhsans";
}
.serv .container{
width: 100%;
height: 5px;
display: flex;
flex-wrap: wrap;
}
.container .card{
padding-left: 50px;
padding-top: 40px;
width: 45%;
justify-content: space-around;
}
.container .card1{
width: 95%;
padding-top: 40px;
}
.container .card h1{
padding-top: 30px;
font-family: "kumbhsans";
color: #2E2C29;
}

.container .card p{
padding-top: 10px;
font-family: "kumbhsans";
font-size: 16px;
color: #7A7875;
}
.container .card1 h1{
padding-left: 50px;
padding-top: 30px;
font-weight: 600;
font-family: "kumbhsans";
color: #2E2C29;
}

.container .card1 p{
padding-left: 50px;
padding-top: 10px;
font-family: "kumbhsans";
font-size: 16px;
color: #7A7875;
}
.serv a{
text-decoration: none;
}
.serv .btn{
position: relative;
top:1000px;
left: 50px;    
display: flex;
padding: 1px 7px;
background: #34322E;
border-radius: 10px;
cursor: pointer;
color: #ffffff;
text-decoration: none;

}

.serv .btn p{
font-size: medium;
font-weight: 400;
padding-top: 7px;
}

/*footer*/

footer{
width: 102%;
position: relative;
top: 1100px;
justify-content:space-between;
background-color:#2E2C29;
font-family: "kumbhsans2";
font-size: x-small;
color:#ffffff
}
footer .info{
padding-top: 20px;
padding-left: 80px;
display: flex;
text-align: right;
}
footer .datos{
position:relative;
left: 80%;
list-style: none;
}

footer .hablemos{
display: flex;
justify-content: center;
font-size: 80px;
}
footer .hablemos a{
text-decoration:none;
font-family: "kumbhsans";
color:#ffffff;
}
footer .pie{
display: flex;
padding-left: 5%;
padding-top: 50px;
}
footer .redes1{
font-size: 0px;
}
footer .marca{
font-size: 0px;
}
footer .redes{
display: flex;
position: relative;
left: 75%;
list-style: none;
padding-bottom: 20px;
}

footer .redes a{
font-family: "kumbhsans";
font-size:x-small;
color:#ffffff;
text-decoration: none;
}

@media screen and (max-width:1000px) {
    .header {
    width: 95%;
    display: flex; 
    }

    section .titulo{
    width: 765px;
    height:auto;
    justify-content: center;
    }
    .title {
    width: 42%;
    text-align: center;
    font-size: 15px;
    color:#1F3477;
    font-family: "kumbhsans";
    }
    .subtitle {
    padding-top: 40px ;
    width: 100%;
    text-align: center;
    font-size: 30px;
    }
    .parrafo {
    padding-top: 80px;
    width: 90%;
    }
    .parrafo .p2{
    font-size: x-large;
    }
    .parrafo h6{
    font-size: medium;
    }
    .nuestros-trabajos .cards img{
    width: 80%;
    justify-content: space-between;
    }    
    .nuestros-trabajos .cards h5{
    font-size: small;
    }
    .nuestros-trabajos .cards ul{
    padding-left: 100px;   
    font-size:x-small ; 
    }
    .service .cards{
    width: 90%;
    justify-content: space-between;
    gap:5%;
    }
    .service .card h5{
    font-size: xx-small;
    }
    .service .card h6{
    font-size: small;
    }
    .service .card p{
    font-size: x-small;
    }
    .serv .titleserv h1{
    font-size: 2rem;
    }
    .serv .btn{
    top:1550px;
    }
    footer{
    top: 1600px;
    }
    footer .redes{
    left: 65%;}
    .container .card{
    width: 85%;
    }
    .container .card1{
    width: 85%;
    }
}
@media screen and (max-width:901px){
    .serv .btn{
    top:1600px;
    }
    footer{
    top: 1650px;
    }
}
@media screen and (max-width:850px) {
    footer .redes{
    left: 60%;}
}    
@media screen and (max-width:819px) {
    .serv .btn{
    top:1650px;}
    
    footer{
    top:1700px;}
    footer .datos{
    left: 75%;
    }     
}
@media screen and (max-width:763px) {
    .header{
    width: 90%;
    }
    .header .nav-links li{
    width: 13%;
    font-size: 12px;
    }
    footer{
    top:1800px;}
    .btn{
    top:1900px;}
}
@media screen and (max-width:729px) {
    .serv .btn{
    top: 1680px;}
    footer .redes{
    left: 55%;}
}
@media screen and (max-width:460px) {
    .header{
    width: 85%;
    }
    .header .nav-links li{
    width: 0%;
    font-size: 0px;
    }
    .title{
    width: 88%;
    padding-top: 10px;
    }
    .title p{
    font-size: 0px;
    }
    .title .pp{
    font-size: small;
    padding-right: 45%;
    }
    .subtitle{
    padding-top: 20px;
    font-size: 23px;
    }
    .parrafo{
    padding-left: 20px;
    }
    .slider-box .in ul{
    width: 100%;}
    .slider-box2 {
    width: 110%;}
    .nuestros-trabajos{
    width: 88%;
    padding-top: 0;
    margin-left: 35px;
    }
    .nuestros-trabajos p{
    font-size: xx-large;
    }
    .nuestros-trabajos .cards{
    width: 88%;
    display: block;
    justify-content: center;
   }
   .nuestros-trabajos .card {
    padding-bottom: 40px;
   }
   .nuestros-trabajos .card h5{
    font-size: 20px;
   }
   .nuestros-trabajos .card ul{
    padding-left: 60%;
   }
   .service{
    width: 88%;
    margin-left: 35px;
   }
   .service .cards{
    display: block;
   }
   .service .card h5{
    font-size: small;
   }
   .service .card h3{
    font-size: medium;
   }
   .service .card p{
    font-size: small;
    padding-bottom: 40px;
   }
    .serv{
    width: 88%;
    }
    .serv .card1{
    width: 88%;
    }
    .serv .btn{
    top: 2300px;}
    footer {
    top: 2350px;
    }
    footer .info{
    padding-left: 30px;
    }
    footer .datos{
    left: 60%;
    }
    footer .hablemos{
    font-size: xx-large;
    }
    footer .hablemos p{
    padding-top: 30px;
    }
    footer .hablemos svg{
    width: 10%;
    }
    footer .pie{
   display:inline-block;
    }
    footer .pie p{
    font-size: 0px;
    }
    footer .redes a{
    font-size: 0px;
    }
    footer .redes1{
    display: flex;
    list-style: none;
    padding-left: 70px;
    }
    footer .redes1 a{
    font-size: 12px;
    text-decoration: none;
    font-family: "kumbhsans";
    color:#ffffff;
    }
    footer .pie .marca1{
    padding-top: 20px;
    font-size: 10px;
    padding-left: 120px;
    }     
}
@media screen and (max-width:432px){
    .serv .btn{
    top: 2350px;}
    footer {
    top: 2450px;}
}
    

@media screen and (max-width:416px){
    .titleservice h1{
    font-size: xx-large;
    }
    .serv .btn{
    top: 2450px;}
    footer {
    top: 2500px;}
} 
@media screen and (max-width:391px){
    .title{
    padding-left: 90px;
    }
    .subtitle {
    width: 88%;
    font-size:20px;}
    .serv .btn{
    top: 2550px;}
    footer {
    top: 2600px;}

}

